@import "tailwindcss";
@plugin "daisyui" {
  themes: black --default;
}
html {
  scroll-behavior: smooth;
}
/* Registrar la fuente local */
@font-face {
  font-family: 'Montserrat';
  src: url('/public/assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {
  font-family: 'Montserrat', sans-serif;
}
